img.HP {
    max-width: 30%;
    height: auto;
    border: 1px, solid, black;
}

div.hp_cat_pizza_article {
    background-image: url("https://images.unsplash.com/photo-1503431128871-cd250803fa41?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBjYXR8ZW58MHx8MHx8&w=1000&q=80");
   color: white;
}

ul.hp {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 70%;
    margin: auto;
  }

div.hp_pizza_cat_article {
    background-image: url("https://media.tenor.com/BhbOPAvXLh0AAAAS/pizza-trippy.gif");
}

h2.hp{
    text-align: center;
}


